.editGoal {
  width: 200px;
}

.editGoal h3 {
  margin-bottom: 20px;
}

.editGoal p {
  margin-bottom: 30px;
}

.edit-goal-input {
  border: 2px solid black;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  outline: none;
  resize: none;
  height: 100px;
  width: 90%;
  margin: 0;
}

@media (min-width: 480px) {
  .editGoal {
    width: 350px;
  }

  .edit-goal-input {
    width: 95%;
  }
}
