.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 10%;
}

.nav .nav-links button {
  margin: 10px;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px;
}

.brand img {
  width: 30px;
  margin-right: 3px;
}

@media (min-width: 768px) {
  .nav {
    justify-content: space-between;
  }

}
