.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.brand img {
  width: 30px;
  margin-right: 3px;
}
