@import './fonts.css';
@import './buttons.css';
@import './input.css';
@import './components/Nav.css';
@import './components/SignUp.css';
@import './components/Login.css';
@import './components/Landing.css';
@import './components/Dashboard.css';
@import './components/Day.css';
@import './components/Motivator.css';
@import './components/Goals.css';
@import './components/Profile.css';
@import './components/AreYouSure.css';
@import './components/Philosophy.css';
@import './components/Footer.css';

.app, #root {
  padding: 0 0 50px;
  position: relative;
}

.loader {
  margin-top: 5%;
  width: 200px;
}
